In [4]:
import numpy as np
import pandas as pd
import csv 
import os

In [5]:
df = pd.read_csv('LD.csv')
df.head()

   Height  Wei  Age  Gender
0     170   57   32       0
1     192   95   28       1
2     150   45   30       0
3     170   65   29       1
4     175   78   35       1

In [6]:
x = df[['Height','Wei','Age']] # 0 = woman , 1 = man
y = df['Gender']

In [7]:
def sigmoid(input):    
    output = 1 / (1 + np.exp(-input))
    return output

In [12]:
def optimize(x, y,a,it,parameters):  # a = learning rate, it =iterations
    size = x.shape[0]
    weight = parameters["weight"] 
    bias = parameters["bias"]
    for i in range(it): 
        sigma = sigmoid(np.dot(x, weight) + bias)
        loss = -1/size * np.sum(y * np.log(sigma)) + (1 - y) * np.log(1-sigma)
        dW = 1/size * np.dot(x.T, (sigma - y))
        db = 1/size * np.sum(sigma - y)
        weight -= a * dW
        bias -= a * db 
    
    parameters["weight"] = weight
    parameters["bias"] = bias
    return parameters

In [13]:
init_parameters = {} 
init_parameters["weight"] = np.zeros(x.shape[1])
init_parameters["bias"] = 0

In [16]:
def train(x, y, a,it):
    po = optimize(x, y, a, it ,init_parameters)
    return po

In [17]:
po = train(x, y, a = 0.02, it = 500)
po

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log
  import sys

{'bias': -0.07733671952512801,
 'weight': array([-3.29134518,  9.94370335, -1.40756777])}

In [18]:
output = np.dot(x[:], po["weight"]) + po["bias"]
predictions = sigmoid(output) >= 1/2
predictions # false = woman , true = man

array([False,  True, False,  True,  True,  True,  True, False, False,
        True,  True,  True, False,  True])

In [29]:
csvinput= "input.csv"
# inputlist = input("Enter H,W,A separated by commas:").split(",")
# inputlist

# def append_list_as_row(file_name, list_of_elem):
#      with open(file_name, 'a+', newline='') as write_obj:        
#         csv_writer = csv.writer(write_obj,delimiter = ',')        
#         csv_writer.writerow(list_of_elem)

# append_list_as_row('input.csv', inputlist)


rf = pd.read_csv('input.csv')
z = rf[['Height','Weight','Age']]

output2 = np.dot(z[4:], po["weight"]) + po["bias"]
predictions2 = sigmoid(output2) >= 1/2
print(predictions2)

[False  True  True  True]